<%= javascript_packs_with_chunks_tag 'feature_two/more' %>
But wait! There's more of Feature Two!

<div>
Content goes here: 
<p><div class="js-insert-content"></div></p>
</div>

<div>
Magic 8-Ball, is your methodology scientifically valid?
<p>"<span class="js-eight-ball-answer"></span>"</p>
</div>
