<%= javascript_packs_with_chunks_tag 'feature_two/welcome' %>
Welcome to Feature Two!

<div>
Content goes here: 
<p><div class="js-insert-content"></div></p>
</div>

<div>
Magic 8-Ball, will there be six more weeks of winter?
<p>"<span class="js-eight-ball-answer"></span>"</p>
</div>
